
body {
    font-family: $open;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $dosis;
    font-weight: bold;   

}
th {
    font-family: $dosis; 
}


.mt-4-rem {
    margin-top:4rem;
}

a {
    color: $secondary;
    //font-family: $dosis;
    &:hover, &:active , &:focus {
    color:darken($secondary , 10%);
    }
}

.btn-primary {
    background-color: $secondary;
    color: white;
    font-family: $dosis;
    border-color: $secondary;
    &:hover, &:active , &:focus {
        background-color: darken($secondary , 10%);
    border-color:darken($secondary , 10%);

    }
}

.btn-link {
    color: $secondary;

    &:hover, &:active , &:focus {
    color:darken($secondary , 10%);

    }
}

.dataTables_wrapper {
    padding-top: 50px;
}

table.dataTable thead .sorting {
  background-image: url("sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("sort_desc_disabled.png");
}