#main {
    display:flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.box-landing {
    max-width: 100%;
    width: 500px;
}
img.logo-landing {
    width: 250px;
}

.box-landing {
    .btn-block {
        max-width: 200px;
    }
    .btn-link {
            text-align: center;
    }
}
.about {
    background-color: $yellow;
    padding: 2rem 0px;
}