// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .page-shop {
//     margin-top: ;
// }

.card-description {

}

.card-address {
padding-top: 10px;
border-top: 1px solid #ccc; 
   color:#6d6d6d;
    font-size: .8rem;
}

.page-shop.mt-4-rem {
    margin-top:0px;
    @include min-lg{
        margin-top:4rem; 
    }
}

#map {
        height: calc(100vh - 160px);
    position: relative;
    overflow: hidden;
}
#map .gmnoprint {
    display: none!important;
}

.card.item {
    min-height: 250px;
}